.top-container {
    background-color: #F0E5CF;
    width: auto;
    height: auto;
    padding: 100px;
}

body{

    /* color: #4B6587; */
    color: #AC7088;
    margin: 0%;
    text-align: center;
}
.name{
    font-family: 'Pacifico', cursive;
    font-size: 500%;
    font-weight: 500;
}
.intro{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.profile{
    padding: 10px;
    width: 75%;
    margin-left: 12.5%;
}
.profile-icon{
    border-radius: 100%;
    
}
.skillheader{
    font-family: 'Pacifico', cursive;
    font-size: 400%;
    font-weight: 500;
}
/* .container{
    display: grid;
    place-items: center;
} */



.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.footer{
    background-color: #F0E5CF;
    width: auto;
    height: auto;
    padding: 100px;
}
.contact{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    font-weight: 500;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}